.git
.github
.benchmarks
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
*.egg-info
.coverage
htmlcov
artifacts
data/raw
data/interim
data/processed
models
mlruns
notebooks/.ipynb_checkpoints
auxiliar
